.card {
    box-shadow: -5px 7px 18px -5px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: -5px 7px 18px -5px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: -5px 7px 18px -5px rgba(0, 0, 0, 0.63);
    border-radius: 5px !important;
    padding: 10px 32px 32px 20px;
    background-color: $ui-06 !important;
    &-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        width: 100%;
        transition: all 0.4s;
        &:hover {
            background-color: #cac8c8;
        }
    }
}

.text-amount {
    font-weight: bold;
    font-size: 1.5rem;
    &+div {
        text-align: right;
        font-size: 0.9rem;
    }
}

.text-debts {
    font-weight: bold;
    font-size: 1.5rem;
    color: red;
    &+div {
        text-align: right;
        font-size: 0.9rem;
    }
}

.moves {
    &-box {
        box-shadow: -5px 7px 18px -5px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: -5px 7px 18px -5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: -5px 7px 18px -5px rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }
    &-info {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}