.article-content {
    max-width: 100%;
    image {
        width: 100px !important;
    }
}

.article-preview-content {
    img {
        width: 100% !important;
    }
}

.article-image {}

.article-list-item {
    max-height: 40vw;
}

.card-articles-size {
    min-height: 250px !important;
}